/* Main style */

@font-face {
    font-family: Open-Sans;
    src: url(/template/fonts/open-sans.ttf);
}

/* HEADER */
.main-header {
	border-bottom-width: 2px;
	line-height: 0;
}

.main-search {
	width: 100%;
	display: flex;
}

.main-search .code {
	flex-basis: 80%;
	border: 1px solid #ADADAD;
	padding: 10px;
	font-size: 150%;
}

.main-search .submit {
	font-size: 125%;
	flex-basis: 20%;
	cursor: pointer;
	font-weight: bold;
}

.main-search input {
	height: 48px;
}
/* HEADER END */

/* CONTENT */
.main-coupons {
	width: 100%;
}

.main-coupons td, .main-coupons th {
	border: 1px solid #ddd;
	text-align: center;
	padding: 10px;
}

.main-coupons tr:nth-child(even){
	background-color: #eee;
}

.main-coupons thead {
	background-color: #ddd;
	font-size: 110%;
}

.main-coupons thead .status {
	width: 20%;
}

.main-coupons thead .date {
	width: 20%;
}

.main-nav {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.main-coupons button {
	width: 100%;
	height: 100%;
	padding: 10px;
	cursor: pointer;
}

.main-paginator {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.main-paginator li {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
}

.main-paginator li.current {
	padding: 10px;
}

.main-paginator a {
	display: flex;
	padding: 10px;
	border-width: 1px;
}

.main-paginator a:hover {
	background-color: #eee;
}
/* CONTENT END */

/* FOOTER */

.main-footer {
	border-top-width: 2px;
	font-size: 125%;
}
/* FOOTER END */


/* JOIN */
.main-header,
.main-footer,
.main-paginator li {
	border-style: solid;
	border-color: #ADADAD;
}

.main-search .submit,
.main-paginator li.current,
.main-coupons button {
	background-color: #1D7AA9;
	color: #FFF;
}
/* JOIN END */

/* COMMON STYLES */
body {
	font-size: 14px;
	font-family: Open-Sans;
}

body * {
	color: #303030;
	box-sizing: border-box;
}

.content {
	max-width: 960px;
	min-width: 300px;
	margin: 0 auto;
}

.block {
	margin: 10px;
}

/* COMMON STYLES END */

